html {
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}



h1 {
    font-size: 3em;
}
/* MassUsable */


.float_right {
    float: right;
}

.float_left {
    float: left;
}

.font_small {
    font-size: 16px;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}

.font_med {
    font-size: 24px;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}

.font_big {
    font-size: 36px;
    line-height: 1;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}

.font_big1 {
    font-size: 55px;
    line-height: 1;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}

.font_tight {
    padding: 0;
    margin: 0;
}

.font_bold {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}


/* Content */

.body_prime {
    max-width: 1024px;
    min-width: 480px;
    padding-top: 68px;
    margin: auto;
    height: auto;
}

.layout_row {
    /*background-color: rgba(0, 0, 0, .5);*/
    margin-right:0px;margin-left:0px
}

.layout {
    padding: 4px 0px 0px 4px;
}

.layout_inner {
    padding: 4px 4px 24px 4px;
    background-color: rgb(255, 255, 255);
    min-height: 76px;
    height: 100%;
}

.text_widget {}

.text_widget p {
    margin: 8px 2px 4px 8px;
    font-size: 1.3em;
}

.text_widget h2 {
    font-weight: bold;
    margin: 8px 2px 4px 2px;
}

.text_widget_content {
    display: inline-block;
}

.inline-block {
    display: inline-block;
    vertical-align: baseline;
}

/* Naviagation */

#main_header_bar {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

#navigation_holder {
    position: absolute;
    right: 0;
    z-index: 9;
    display: flex;
    flex-flow: row;
}

.main_header_item {
    margin: 8px 10px 2px 10px;
    display: block;
    cursor: pointer;
}

.ulNavigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation_list {
    right: 0;
    position: absolute;
    display: flex;
    flex-flow: column;
    transition: all 0.25s cubic-bezier(0.15, 0.5, 0.2, .8);
    transform: translate(0, -100%) scale(0, 0);
    text-align: center;
}

.navigation_list--active {
    position: relative;
    transform: translate(0, 0) scale(1, 1);
}

.navigation_item {
    flex: 0 0 0%;
    position: relative;
    padding: 1vh 2px 1vh 2px;
    max-width: 100px;
    min-width: 65px;
}

.navigation_item:hover {
    background: rgba(230, 230, 230, 0.5);
}

.navigation_link {
    text-decoration: none;
}

.searchBar {
    color: black;
    width: 125px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/img/search1.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transform: left 0.4s ease-in-out;
    -o-transform: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

.searchBar:focus {
    width: 100%;
}

#editorBar {
    position: fixed;
    width: 100%;
    height: 64px;
    font-size: 3em;
    -webkit-text-stroke: 2px black;
    bottom: 0;
}

.editorArrangeHandle {
    right: 0;
    position: absolute;
    min-width: 50px;
    background-color: #000000;
    vertical-align: middle;
    z-index: 1;
    height: 30px;
    
}